$hst-bold = rgb(160, 30, 120)
$hst-accent-primary = rgb(0, 190, 180)
$hst-accent-secondary = rgb(210, 140, 0)
$hst-light-gray = rgb(200, 195, 205)
$hst-gray = rgb(125, 120, 135)
$hst-dark-gray = rgb(65, 60, 75)
$hst-white = rgb(255, 250, 238)
