@require 'colors'

.hst-event-list
  display: flex
  flex: 1 1 auto
  flex-flow: column
  margin: 0
  padding: 0

  &-item, &-gap
    align-items: center
    background: $hst-light-gray
    border-bottom: 1px solid $hst-white
    color: $hst-dark-gray
    display: flex
    flex: 1 1 auto
    flex-flow: column
    justify-content: center
    position: relative

    &:last-child
      border-bottom: none

    &-name
      font-weight: 700
      line-height: 1.2em

    &-dates
      color: $hst-gray
      font-size: 0.8rem

    &-delete
      cursor: pointer
      position: absolute
      right: 3px
      top: 3px
