@require 'colors'

.hst-site-header
  background-color: $hst-bold
  color: $hst-white
  font-family: serif
  font-size: 2rem;
  font-weight: 200
  margin: 0
  padding: 1rem
  text-align: center

.hst-secondary-header
  background-color: $hst-dark-gray
  margin: 0
  padding: 0.5rem 1rem
