
.icon-plus:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-pencil:before { content: '\e802'; } /* '' */
.icon-tag:before { content: '\e803'; } /* '' */
.icon-flag:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */